<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="titatit">
  <xacro:arg name="hw_env" default="none" />

  <xacro:include filename="$(find titatit_description)/xacro/ros2control.xacro" />
  <xacro:include filename="$(find titatit_description)/xacro/single_robot.xacro" />
  <xacro:ros2control hw_env="$(arg hw_env)" />

  <xacro:include filename="$(find titatit_description)/xacro/materials.xacro" />
    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <inertial>
            <mass value="0.001"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
    </link>
    
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <link name="imu_link">
      <inertial>
        <mass value="0.001"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
        <material name="red"/>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size=".001 .001 .001"/>
        </geometry>
      </collision>
    </link>

    <xacro:single_robot name="F" x_offset="0.26" z_rotation="0"/>
    <xacro:single_robot name="R" x_offset="-0.26" z_rotation="3.1415926"/>
</robot>